<div class="card">
  <div class="card-body">
    <div class="row mb-3 align-items-center">
      <div class="col">
        <div class="text-sm">Consolidado mensal (recebido x a receber)</div>
        <h3 class="mt-2 f-w-600">{{ formatCurrency(totalPeriodo) }}</h3>
      </div>
      <div class="col-auto">
        <ng-select class="cstar-ng-select" [searchable]="false" [clearable]="false" title="Selecionar período" [(ngModel)]="periodo" (ngModelChange)="alterarPeriodo($event)">
          <ng-option value="hoje">Hoje</ng-option>
          <ng-option value="mes">Mês</ng-option>
          <ng-option value="ano">Ano</ng-option>
        </ng-select>
      </div>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</div>
