<div class="card">
  <div class="card-body">
    <div class="row mb-3 align-items-center">
      <div class="col">
        <div class="text-sm">Consolidado mensal (recebido x a receber)</div>
        <h3 class="mt-2 f-w-600">{{ formatCurrency(totalPeriodo) }}</h3>
      </div>
      <div class="col-auto">
        <select
          class="form-select p-r-35"
          title="Selecionar período"
          [(ngModel)]="periodo"
          (ngModelChange)="alterarPeriodo($event)"
        >
          <option value="hoje">Hoje</option>
          <option value="mes">Mês</option>
          <option value="ano">Ano</option>
        </select>
      </div>
    </div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</div>
