// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #fdfdfd,
    primary: #8f6b10,
    primary-dark: #7a5a0c,
    secondary: #d4af37,
    secondary-dark: #b88a1e
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
