// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #ad9720,
    primary-dark: #ad9720,
    secondary: #FFD700,
    secondary-dark: #542ca7
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
